In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [3]:
df=pd.read_csv("Data Set.csv")

In [4]:
#Identify the most common combinations of cuisines in the dataset.
df.head(1)

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314

In [10]:
Cuisines=df['Cuisines']
aggrgate_rating=df['Aggregate rating']
cuisines_combination=cuisines.value_counts()
common_cuisines_combination=cuisines_combination.head(10)
print("MOSt Common Cuisines Combination :")
print(common_cuisines_combination)

MOSt Common Cuisines Combination :
Cuisines
North Indian                      936
North Indian, Chinese             511
Chinese                           354
Fast Food                         354
North Indian, Mughlai             334
Cafe                              299
Bakery                            218
North Indian, Mughlai, Chinese    197
Bakery, Desserts                  170
Street Food                       149
Name: count, dtype: int64

#Determine if certain cuisine combinations tend to have higher ratings.

In [11]:
avg_cuisines_combination=df.groupby("Cuisines")['Aggregate rating'].mean()

In [13]:
top_10_avg_rating=avg_cuisines_combination.nlargest(10)
print("The top 1 Average cuisines combination Rating:")
print(top_10_avg_rating)

The top 1 Average cuisines combination Rating:
Cuisines
American, BBQ, Sandwich         4.9
American, Burger, Grill         4.9
American, Caribbean, Seafood    4.9
American, Coffee and Tea        4.9
American, Sandwich, Tea         4.9
BBQ, Breakfast, Southern        4.9
Burger, Bar Food, Steak         4.9
Continental, Indian             4.9
European, Asian, Indian         4.9
European, Contemporary          4.9
Name: Aggregate rating, dtype: float64